name: Build and deploy Node.js project to Azure Function App - cw2-micromeals-api

on:
  push:
    branches: [ main ]
    paths:
      - "api/**"
      - ".github/workflows/api.yml"
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: "api"
  NODE_VERSION: "20.x"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: api/package-lock.json

      - name: Install dependencies
        working-directory: api
        run: npm ci

      - name: Build
        working-directory: api
        run: npm run build --if-present

      - name: Test
        working-directory: api
        run: npm run test --if-present

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: cw2-micromeals-api
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
